---
layout: default
---

<style>
.markdown-body table.full {display: table;}
.markdown-body table.full th {text-align: left;}
</style>

<h2>{{ page.title }}</h2>

<table>
  <tbody>
    <tr><td><strong>Verze: </strong></td><td>Pracovní verze</td></tr>
    <tr><td><strong>Autor: </strong></td><td>{{ page.author }}</td></tr>
    <tr><td><strong>Datum vytvoření: </strong></td><td>{{ page.date }}</td></tr>
  </tbody>
</table>

<h2>Obsah</h2>
{% include toc.html html=content ordered=false %}

{{ content }}

