---
layout: default
---

<a href="{{ site.baseurl }}" title="Zpět na Specifikaci požadavků">&laquo; Zpět na Specifikaci požadavků</a><br>
<br>
<table>
  <tbody>
    <tr><td><strong>Označení požadavku: </strong></td><td>{{ page.number }} - {{ page.title }}</td></tr>   
    <tr><td><strong>Typ požadavku: </strong></td><td>{{ page.tags }}</td></tr>   
    <tr><td><strong>Priorita: </strong></td><td>{{ page.priority }}</td></tr>   
    <tr><td><strong>Zdroj: </strong></td><td>{{ page.source }}</td></tr>   
  </tbody>
</table>

{{ content }}

